@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
:root {
  font-family: 'Poppins', 'Montserrat', 'Times New Roman';
  --black: #000000;
  --color-1: #f6fff8;
  --color-2: #eaf4f4;
  --color-3: #cce3de;
  --color-4: #a4c3b2;
  --color-5: #6b9080;
  --color-6: #6ca78d;

  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.03),
    0px 0.6px 0.8px -0.5px hsl(var(--shadow-color) / 0.06),
    0px 1.3px 1.8px -1px hsl(var(--shadow-color) / 0.09);
  --shadow-elevation-medium: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.02),
    0px 1.2px 1.6px -0.2px hsl(var(--shadow-color) / 0.04),
    0.1px 2.1px 2.8px -0.5px hsl(var(--shadow-color) / 0.05),
    0.1px 3.6px 4.9px -0.7px hsl(var(--shadow-color) / 0.07),
    0.2px 6.5px 8.8px -1px hsl(var(--shadow-color) / 0.08);
  --shadow-elevation-high: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.02),
    0.1px 2.2px 3px -0.1px hsl(var(--shadow-color) / 0.03),
    0.1px 3.7px 5px -0.2px hsl(var(--shadow-color) / 0.04),
    0.1px 5.5px 7.4px -0.4px hsl(var(--shadow-color) / 0.05),
    0.2px 7.6px 10.3px -0.5px hsl(var(--shadow-color) / 0.06),
    0.3px 10.5px 14.2px -0.6px hsl(var(--shadow-color) / 0.07),
    0.4px 14.4px 19.4px -0.7px hsl(var(--shadow-color) / 0.07),
    0.5px 19.7px 26.6px -0.9px hsl(var(--shadow-color) / 0.08),
    0.7px 26.7px 36.1px -1px hsl(var(--shadow-color) / 0.09);
}
/* Página de registro/login */
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/img-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.login__cont,
.register__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  border-radius: 15px;
  width: 600px;
  height: 400px;
  background: rgba(241, 241, 241, 0.8);
  box-shadow: var(--shadow-elevation-high);
}
.login__cont h2 {
  text-align: center;
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
}
.login__back,
.register__back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-1);
  font-size: 12px;
  font-weight: 500;
  width: 10%;
  background-color: var(--color-5);
  border-radius: 5px;
}
.login__send,
.register__send {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-1);
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-5);
  height: 10%;
  padding: 15px;
}
.login__cont input,
.register__section input {
  font-family: Poppins;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  height: 35px;
}
#register {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/img-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.register__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 400px;
  gap: 15px;
  border-radius: 15px;
  background: rgba(241, 241, 241, 0.8);
}
.register__section h2 {
  text-align: center;
  color: var(--btn-black);
  font-size: 32px;
  font-weight: 500;
}
.register__section p {
  text-align: center;
  color: var(--btn-black);
  font-size: 16px;
}
/* Header  */
#header {
  height: 65px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  gap: 15px;
  list-style-type: none;
}
/* Toggle */
.header__navbar label {
  display: none;
  font-size: 36px;
}
.header__navbar__list {
  display: flex;
  gap: 25px;
  color: black;
}
.menu-label {
  display: none;
}
/* Carrito  */
.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}
.cart::-webkit-scrollbar {
  display: none;
}
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Modificar transición  */
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}
/* Main section  */
.main__hero {
  align-items: center;
  background: url(/assets/img-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 55px);
  width: 100%;
}
.main__hero__presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 48px;
  padding: 200px 100px;
}
.main__hero__presentation h2,
h5 {
  background-color: var(--color-2);
  padding: 0px 4px;
  border-radius: 4px;
}
.main__hero__presentation h6 {
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 0px 4px;
  margin-top: 30px;
  font-size: 24px;
  color: var(--color-1);
  background-color: var(--color-5);
}
/* Card Products */
#plant__products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--color-3);
  padding: 40px 0px;
  overflow-x: auto;
}
.product__container {
  display: flex;
  gap: 30px;
  padding: 80px 40px;
  max-width: 100%;
  flex-wrap: wrap;
}
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px 40px;
  background-color: var(--color-5);
  max-width: 30%;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-medium);
}
.card__container img {
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-medium);
}
.card__info button {
  text-align: center;
  padding: 4px 8px;
  font-weight: 600;
  background-color: var(--color-3);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
.product__top {
  -webkit-text-stroke: 0.9px var(--black);
  font-size: 20px;
  color: var(--color-1);
}
.product__mid {
  color: var(--color-1);
  font-weight: 500;
  font-size: 22px;
}
.product__bot {
  font-size: 16px;
  color: var(--color-1);
  padding: 8px 0px;
}
/* Section of products  */
.main__plant__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#main__plant__products {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  gap: 40px;
}
#main__plant__products h2 {
  text-align: center;
  font-weight: 600;
}
.main__plant_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 12px;
  gap: 30px;
  background-color: var(--color-3);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
}
.main__plant__products__img {
  max-width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.category,
.btn-show-more {
  background: var(--color-4);
  border: none;
  padding: 10px 15px;
  color: var(--black);
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-low);
}
.category:hover,
.btn-show-more:hover {
  transition: background-color 0.5s;
  background-color: var(--color-6);
}
/* Find Section  */
.main__find {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/img-6-find.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}
.main__find__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 15px;
  background-color: var(--color-2);
  max-width: 60%;
  text-align: center;
  box-shadow: var(--shadow-elevation-high);
  border-radius: 5px;
}
.main__find__card h3 {
  font-weight: 600;
  font-size: 28px;
}
.main__find__card p span {
  text-decoration: underline;
}
/* About Us Section  */
main {
  background-color: var(--color-1);
}
#main__about {
  display: flex;
  align-items: center;
  padding: 36px 0px;
  background-color: var(--color-1);
}
.main__about__us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.main__about__us h2 {
  font-weight: 600;
  font-size: 32px;
}
.about__us__p1 {
  padding: 12px 24px;
  text-align: center;
  font-size: 18px;
  max-width: 35%;
  background-color: var(--color-2);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 5px;
}
.about__us__p2 {
  padding: 12px 24px;
  text-align: center;
  font-size: 20px;
  max-width: 50%;
  background-color: var(--color-3);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 5px;
}
.about__us__p2 span {
  padding: 0px 3px;
  color: var(--color-1);
  background-color: var(--color-5);
}
.img-sierras {
  max-height: 80%;
  max-width: 50%;
  margin: 0px 40px;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-high);
}
/* Contact Section */
#main__contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-4);
}
.main__contact__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--shadow-elevation-medium);
}
.main__contact__container p {
  padding: 6px 12px;
  background-color: var(--color-3);
  max-width: 300px;
  font-size: 18px;
  border-radius: 5px;
}
.main__contact__form {
  padding: 20px 40px;
}
.main__contact__form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__contact__form form input,
textarea {
  font-family: 'Poppins';
  width: 300px;
  padding: 5px;
  padding-left: 6px;
  margin: 0;
  border: none;
  border-radius: 3px;
  font-weight: 400;
}
#btn-submit {
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  background-color: var(--color-2);
}
/* Footer Section  */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-5);
  color: var(--color-1);
  padding: 80px 250px;
}
.footer__container {
  display: flex;
  gap: 100px;
}
.footer__-principal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__tittle {
  padding-bottom: 12px;
}
#input__email__footer {
  font-family: Poppins;
  border: none;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding-left: 4px;
  font-size: 14px;
}
#input__btn__footer {
  cursor: pointer;
  font-family: 'Poppins';
  border: none;
  border-radius: 3px;
  width: 50px;
  height: 30px;
  font-size: 14px;
}
